button {
    color: #eee;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &.add {
        background-color: #2ecc71;
        padding: 0.9rem;
        font-size: 0.9rem;
    }

    &.primary {
        background-color: transparent;
        border: 1px solid #fff;
    }

    &.secundary {
        background-color: transparent;
        color: #fff;
        padding: 0;
    }

    &.tertiary {
        background-color: transparent;
        border: 1px solid #2ecc71;
        color: #2ecc71;
        padding: .8rem 1rem;
    }

    &.disabled {
        color: #ccc;
        border: none;
        cursor: not-allowed;
    }
}